@model SquadManager.Models.UserViewModel;

    <link href="~/css/login.css" rel="stylesheet" />

    <section>
        <h1>Autenticação</h1>

        <form action="/Login/Test" method="post">
            <input type="text" placeholder="Username / email" name="email" value="@Model.Email" />
            <input type="text" name="password" placeholder="Password" value="@Model.Password"/>
            <a href="#">Esqueceu a senha?</a>

            <button type="submit">Login</button>

            <label>Não tem conta?<a href="#">Crie aqui</a></label>
        </form>
        
    </section>

